<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3 user-edit">
			<h2 class="sidebar-title">User Infomation</h2>
			<!-- error-message start -->
			<% if @user.errors.any? %>
			  <div class="alert alert-danger">
			    <ul>
			      <% @user.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			  </div>
			<% end %>
			<!-- error-message finish -->
			<%= form_for(@user) do |f| %>
				<h5>Profile Image</h5>
				<div>
					<%= attachment_image_tag @user, :profile_image, :fill, 90, 90, fallback: "no_image.jpeg" %>
				</div>
				<div>
					<%= f.attachment_field :profile_image, placeholder:"プロフィール画像" %>
				</div>
				<h5>Name</h5>
				<%= f.text_field :name, :size => "30" %>
				<h5>Introduction</h5>
				<%= f.text_area :intro, :size => "30x5"%>
				<div><%= f.submit 'Submit', :class => "btn-block btn-info btn-lg edit-btn" %></div>
			<% end %>
		</div>
		<div class="col-lg-9">
			<h2 class="main-title" >UserEdit</h2>
		</div>
	</div>
</div>
