<h1>Users#show</h1>
<p><%= @user.name %></p>
<p>
	<%if @user.intro%>
		<%= @user.intro %>
	<% else %>
		よろしくお願いします。
	<% end %>
</p>
<div>
	<%= attachment_image_tag @user, :profile_image, :fill, 90, 90, fallback: "no_image.jpeg" %>
</div>
<p><%= link_to "Profile Edit", edit_user_path(@user.id) %></p>


<table>
	<thead>
		<tr>
			<th>title</th>
			<th>opinion</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= link_to post.title, post_path(post.id) %></td>
				<td>
					<% if post.opinion.length >= 40 %>
						<%= post.opinion.slice(0, 40) %>...
					<% else %>
						<%= post.opinion %>
					<% end %>
				</td>
				<td><%= link_to "Edit", edit_post_path(post.id) %></td>
				<td><%= link_to "Delete", post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
			</tr>
		<% end %>
	</tbody>
	</table>