<div class="col-lg-9">
	<table class="table">
		<h2 class="main-title">Books</h2>
		<thead>
			<tr>
				<th></th>
				<th>title</th>
				<th>opinion</th>
				<th>score</th>
			</tr>
		</thead>
		<tbody>
			<% posts.each do |post| %>
				<tr>
					<td class="col-lg-1">
						<%= link_to user_path(post.user_id) do %>
							<%= attachment_image_tag post.user, :profile_image, :fill, 45, 45, fallback: "no_image_s.jpeg" %>
						<% end %>
					</td>
					<td class="col-lg-3">
						<p class="post-title"><%= link_to post.title, post_path(post.id)%></p>
					</td>
					<td class="col-lg-7">
						<p class="post-opinion">
							<% if post.opinion.length >= 40 %>
								<%= post.opinion.slice(0, 40) %>...
							<% else %>
								<%= post.opinion %>
							<% end %>
						</p>
					<td class="col-lg-1">
						<%if !post.score.blank?%>
							<p class="list-score"><%= post.score %>点</p>
						<% end %>
					</td>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>