<h1>Edit</h1>

<%= form_for(@post) do |f| %>
	<h4>title</h4>
	<%= f.text_field :title, :size=>"30" %>
	<h4>review</h4>
	<%= f.text_area :opinion, :size=>"50x7" %>

	<div><%= f.submit '保存' %></div>
<% end %>

<p class="index-link">	<%= link_to "投稿一覧に戻る", posts_path %></p>