<div class="container-fluid">
	<div class="row">
		<div class="col-lg-3">
			<h2 class="sidebar-title">Book</h2>
			<!-- error-message start -->
			<% if @post.errors.any? %>
			  <div class="alert alert-danger">
			    <ul>
			      <% @post.errors.full_messages.each do |message| %>
			        <li><%= message %></li>
			      <% end %>
			    </ul>
			  </div>
			<% end %>
			<!-- error-message finish -->
			<%= form_for(@post) do |f| %>
				<h5>Title</h5>
				<%= f.text_field :title, :size=>"45" %>
				<h5>Score</h5>
				<%= f.select :score, options_for_select(1..100), :include_blank => "未選択" %>
				<h5>Opinion</h5>
				<%= f.text_area :opinion, :size=>"45x10" %>

				<div><%= f.submit 'Submit', :class => "btn-block btn-info btn-lg edit-btn" %></div>
			<% end %>

		</div>
		<div class="col-lg-9">
			<h2 class="main-title" >BookEdit</h2>
		</div>
	</div>
</div>

