<h1>INDEX</h1>

<table>
	<thead>
		<tr>
			<th>title</th>
			<th>opinion</th>
			<th>user name</th>
			<th colspan="2"></th>
		</tr>
	</thead>
	<tbody>
		<% @posts.each do |post| %>
			<tr>
				<td><%= link_to post.title, post_path(post.id) %></td>
				<td>
					<% if post.opinion.length >= 40 %>
						<%= post.opinion.slice(0, 40) %>...
					<% else %>
						<%= post.opinion %>
					<% end %>
				</td>
				<td><%= post.user.name %></td>

				<td><%= link_to "Edit", edit_post_path(post.id) %></td>
				<td><%= link_to "Delete", post_path(post.id), method: :delete, data: {confirm: "本当に削除しますか？"} %></td>
			</tr>
		<% end %>
	</tbody>
	</table>

<h1>New Post</h1>
<%= form_for(@post) do |f| %>
	<h4>タイトル</h4>
	<%= f.text_field :title %>
	<h4>感想</h4>
	<%= f.text_area :opinion %>

	<%= f.submit '投稿' %>
<% end %>