<!DOCTYPE html>
<html>
  <head>
    <title>BookersAd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="nav-title" id="top-btn">Bookers</span>
          </div>
          <div class="collapse navbar-collapse navbar-right" id="navbarEexample8">
            <ul class="nav navbar-nav">
              <% if current_user %>
                <li>
                  <%= link_to user_path(current_user.id) do %>
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    <span>MyPage</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to users_path do %>
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                    <span>Users</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to posts_path do %>
                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                    <span>Books</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete do %>
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                    <span>LogOut</span>
                  <% end %>
                </li>
              <% else %>
                <li>
                  <%= link_to "/" do %>
                  <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                  <span>Home</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to posts_about_path do %>
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                    <span>About</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_registration_path do %>
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                    <span>SignUp</span>
                  <% end %>
                </li>
                <li>
                  <%= link_to new_user_session_path do %>
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                    <span>LogIn</span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <% if flash[:newpost] %>
      <div class="alert alert-success">
        <%= flash[:newpost] %>
      </div>
      <% end %>
      <% if flash[:delete] %>
        <div class="alert alert-danger">
        <%= flash[:delete] %>
      </div>
    <% end %>
    <%= yield %>

    <footer>
      <p class="footer-text">© All rights recerved by Bookers.Inc.</p>
    </footer>
    <script src="app/assets/javascripts/test.js"></script>
  </body>
</html>
