<!DOCTYPE html>
<html>
  <head>
    <title>BookersAd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header-list clearfix">
        <% if current_user %>
          <li>MyPage</li>
          <li>Users</li>
          <li>Books</li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li>Top</li>
          <li>About</li>
          <li>SignUp</li>
          <li>LogIn</li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
