<!DOCTYPE html>
<html>
  <head>
    <title>BookersAd</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <ul class="header-list clearfix">
        <% if current_user %>
          <li><%= link_to 'MyPage', user_path(current_user.id) %></li>
          <li><%= link_to 'Users', users_path %></li>
          <li><%= link_to 'Books', posts_path %></li>
          <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'top', "/" %></li>
          <li><%= link_to 'About', posts_about_path %></li>
          <li><%= link_to 'SignUp', new_user_registration_path %></li>
          <li><%= link_to 'LogIn', new_user_session_path %></li>
        <% end %>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
